.item img {
    margin: 0 auto;
    border-radius: 10px;
    max-width: 200px;
    max-height: 300px;
}

.item h4 {
    text-align: center;
    color: yellow;
}

.item .list-group-item:hover {
    background-color: #222222;
}